.row
  = image_tag "hubcitysealtitle.svg", style: 'width:80%; margin-left:auto; margin-right:auto;'
.row.pt-3
  .col-1
  .col-3.col-xs-6.tab.mx-1
    = link_to "Home",  root_path, :class => "tab-link" 
  .col-3.col-xs-6.tab.mx-1.active
    = link_to "Contact",  contact_path, :class => "tab-link-active" 
  .col-3.col-xs-6.tab.mx-1
    = link_to "Read",  finder_path, :class => "tab-link" 

.row.photocopy-mask.pt-4
  .col-1
  .col{id: "shadowbox"}
    .h1.arial.main-text.rainbow_text_animated NOW SEEKING TRIPPERS
    .h2.arial.main-text.fst-italic Capture your experience of the Deadening Escape, joyful creation of alternative Culture, beyond the Eye-Gulp Of The Screen
    .h2.arial.main-text <br> The tantalysis of pulp & paper wage labour of the copy shop <u>NOW TO BE HELD IN YOUR HAND</u>. Observe the culture & BECOME THE CULTURE -spaces btwn each molecule dimnsh ass hand passes the paper, briefly,, Connect
    = image_tag "hubcityemail.png", style: 'width:80%; margin-left:auto; margin-right:auto;'
    .h2.arial.main-text.pt-4 Drawings by MAMH & ESC <br> Layout /graphic design by KMVP <br> Website by Roy (gabejonuk@gmail.com)