.row
  = image_tag "hubcitysealtitle.svg", style: 'width:80%; margin-left:auto; margin-right:auto;'
.row.pt-3
  .col-1
  .col-3.col-xs-4.tab.mx-1.active
    = link_to "Home",  root_path, :class => "tab-link-active" 
  .col-3.col-xs-4.tab.mx-1
    = link_to "Contact",  contact_path, :class => "tab-link" 
  .col-3.col-xs-4.tab.mx-1
    = link_to "Read",  finder_path, :class => "tab-link"  
-# .row.photocopy-mask.pt-4
-#   .col-1
-#   .col
-#     .h2 Texttextloremipsum Texttextloremipsum Texttextloremipsum Texttextloremipsum
-#     .p Texttextloremipsum Texttextloremipsum Texttextloremipsum Texttextloremipsum
.row.photocopy-mask.pt-2
  .col-1.d-none.d-md-block
  .col
    = image_tag "howto.jpg", style: 'width:100%; height:80%; margin-left:auto; margin-right:auto;'
    .h1.arial.main-text.rainbow_text_animated.pt-2 To read and to write is to hug with the mind,
