!!! html
!!!
%html
  %head
    %title The Hub City Seal
    %meta{:name => "viewport", :content => "width=device-width initial-scale=1"}
    %meta{:charset => "utf-8" }
    %meta{:author => "CorduroyDev"}
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = stylesheet_link_tag "styles", "data-turbo-track": "reload"

    = javascript_include_tag "application", "data-turbo-track": "reload", defer: true

  %body
    = yield
